html {
    height: 100%;
    /* background-image: linear-gradient(to top,rgb(55, 170, 180), rgb(9, 79, 116)) */
}

button-hamburger {
    position: absolute;
    left: 50px;
    top: 200px;
}

button-restore {
    position: absolute;
    left: 100px;
    top: 200px;
}

button-fullscreen {
    position: absolute;
    left: 150px;
    top: 200px;
}

button-pin {
    position: absolute;
    left: 200px;
    top: 200px;
}

button-contents {
    position: absolute;
    left: 250px;
    top: 200px;
}

button-minimize {
    position: absolute;
    left: 50px;
    top: 100px;
}

button-maximize {
    position: absolute;
    left: 100px;
    top: 100px;
}

button-close {
    position: absolute;
    left: 150px;
    top: 100px;
}

button-down {
    position: absolute;
    left: 200px;
    top: 100px;
}

button-up {
    position: absolute;
    left: 250px;
    top: 100px;
}

button-left {
    position: absolute;
    left: 300px;
    top: 100px;
}

button-right {
    position: absolute;
    left: 350px;
    top: 100px;
}

button-dots {
    position: absolute;
    left: 400px;
    top: 100px;
}


bar-task {
    left: 100px;
    top: 100px;
}

#vertical {
    left: 100px;
    top: 200px;
}

app-modal {
    left: 100px;
    top: 100px;
}
